---
- name: Set timestamp
  set_fact:
    scan_timestamp: "{{ ansible_date_time.date }}_{{ ansible_date_time.time | regex_replace(':', '-') }}"

- name: Install OpenSCAP + SSG
  include_tasks: install.yml

- name: Select correct benchmark for OS version
  set_fact:
    benchmark: "{{ benchmark_map[ansible_distribution_major_version] }}"

- name: Run OpenSCAP scan
  include_tasks: scan.yml

- name: Fetch results to control node
  include_tasks: fetch.yml
