---
- name: Patch all hosts
  hosts: all
  become: true

  tasks:
    - name: Update packages (RHEL/Alma/Rocky)
      ansible.builtin.yum:
        name: "*"
        state: "{{ package_state }}"
      when: ansible_os_family == "RedHat"

    - name: Update packages (Debian/Ubuntu)
      ansible.builtin.apt:
        update_cache: true
        upgrade: "{{ package_state }}"
      when: ansible_os_family == "Debian"

